/*
  Template: blankslate
  ThemeName: practice3
*/
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

.l-header nav {
  padding: 0;
}
.l-header nav div {
  background-color: #fd9d0d;
  height: 100%;
  padding: 10px 0;
}
.l-header__btn {
  background-color: white;
  height: 40px;
  width: 40px;
  position: relative;
}
.l-header__btn span {
  display: block;
  width: 30px;
  height: 2px;
  position: absolute;
  background-color: #fd9d0d;
  left: 50%;
  translate: -50%;
}
.l-header__btn span:nth-child(1) {
  top: 30%;
}
.l-header__btn span:nth-child(2) {
  top: 50%;
}
.l-header__btn span:nth-child(3) {
  top: 70%;
}
.l-header__logo {
  width: 300px;
  margin-left: 20px;
  padding: 0;
}
@media (max-width: 950px) {
  .l-header__logo {
    width: 150px;
  }
}
.l-header__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.l-header__tiket {
  color: #fd9d0d;
  background-color: white;
}

.l-section {
  margin-top: 60px;
}

.c-main-view {
  position: relative;
}
.c-main-view__content {
  position: absolute;
  top: 48%;
  left: 50%;
  translate: -50% -50%;
  z-index: 1000;
  color: white;
}
@media (max-width: 1000px) {
  .c-main-view__content {
    top: 50%;
  }
}
.c-main-view__content h2 {
  font-size: 5rem;
}
@media (max-width: 1000px) {
  .c-main-view__content h2 {
    font-size: 3rem;
  }
}
.c-main-view__content div {
  font-size: 1.5rem;
  letter-spacing: 0.1em;
}
@media (max-width: 1000px) {
  .c-main-view__content div {
    font-size: 1rem;
  }
}
.c-main-view__img {
  max-height: 600px;
  height: 60vh;
  width: 100%;
  overflow: hidden;
}
.c-main-view__img .carousel-inner {
  height: 100%;
}
.c-main-view__img .carousel-item {
  height: 100%;
  width: 100%;
}
.c-main-view__img .carousel-item img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.c-main-view__img::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.288);
}

.c-event__title h2 {
  color: #fd9d0d;
  font-weight: bold;
}
.c-event__category {
  background-color: #fd9d0d;
  color: white;
  border-radius: 5px;
  padding: 3px 5px;
}
.c-event__btn {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-booth__title h2 {
  color: #fd9d0d;
}
@media (max-width: 1000px) {
  .c-booth__title {
    translate: 0 0%;
  }
}
.c-booth__content {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1000px) {
  .c-booth__content {
    flex-direction: column-reverse;
  }
}
.c-booth__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 2em;
}
@media (max-width: 1000px) {
  .c-booth__text {
    margin-top: 0%;
    padding-right: 0;
  }
}
.c-booth__img {
  width: 50%;
  height: 100%;
}
@media (max-width: 1000px) {
  .c-booth__img {
    width: 100%;
  }
}
.c-booth__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.c-tiket {
  height: 400px;
  position: relative;
}
.c-tiket__title {
  margin-bottom: 10px;
}
.c-tiket__title h2 {
  color: white;
  font-size: 3rem;
}
.c-tiket__content {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.219);
}
.c-tiket__content p {
  font-size: 18px;
  margin-bottom: 2em;
}
.c-tiket__img {
  height: 100%;
  width: 100%;
}
.c-tiket__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.l-footer {
  height: 300px;
  background-color: #fd9d0d;
}

.btn.btn-xlg {
  padding: 20px 4em;
  white-space: nowrap;
}
@media (max-width: 768px) {
  .btn.btn-xlg {
    padding: 14px 1.6em;
  }
}

.l-header {
  position: relative;
}

@media (min-width: 768px) {
  .l-header__tiket.btn {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
    align-items: center;
    border: none;
    font-weight: bold;
    border-radius: 0;
    padding-left: 2em;
    padding-right: 2em;
  }
}
@media (max-width: 768px) {
  .l-header__btn.navbar-toggler {
    position: absolute;
    top: 0;
    height: 100%;
    right: 0;
    width: 55px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0;
  }
  .l-header__tiket.btn {
    font-size: 12px;
    margin-right: 64px;
  }
}
a.card {
  display: block;
  text-decoration: none;
  transition: all ease 0.2s;
  color: inherit;
}
a.card:hover {
  opacity: 0.7;
}

img {
  max-width: 100%;
  height: auto;
}

.nav-links {
  display: flex;
  justify-content: space-between;
}
.nav-links a {
  display: block;
  background: #e8e8e8;
  text-decoration: none;
  padding: 12px 24px;
  color: #222;
}/*# sourceMappingURL=style.css.map */