/* 
Template: blankslate
ThemeName: blankslate-child
*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 14px;
}

.l-section {
    margin-top: 160px;
}

.l-container {
    margin: 0 130px;
}

.l-header {
    width: 100%;
    height: 100px;
    display: flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.l-header__head {
    width: 600px;
    padding: 0 50px;
}

.l-header__head>a {
    width: 100%;
}

.l-header__head>a>img {
    width: 100%;
}


.l-header__menu {
    display: flex;
    margin: 0 50px;
}

.l-header__menu>a {
    color: #333;
    margin: 0 30px;
}


.c-main-view {
    height: calc(100vh - 100px);
    position: relative;
}

.c-main-view__img {
    height: 100%;
    width: 100%;
}

.c-main-view__img>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.c-main-view__text {
    position: absolute;
    top: 30%;
    right: 0;
    background-color: rgba(255, 255, 255, 0.664);
    padding: 20px;
    border-radius: 20px;
}

.c-main-view__text>span {
    color: #AE042C;
    font-size: 45px;
    font-weight: bold;
}

.c-popular {
    position: relative;
}

.c-popular::after {
    content: '';
    background-color: rgba(175, 4, 44, 0.1);
    height: 300px;
    width: 80vw;
    position: absolute;
    bottom: -50px;
    left: -130px;
    z-index: -1;
}

.c-popular__head {
    display: flex;
    justify-content: space-between;
}

.c-popular__title>h2 {
    font-size: 20px;
    color: #AE042C;
}

.c-popular__search {
    display: flex;
    justify-content: space-around;
}

.c-popular__search>span {
    margin: 0 50px;
}

.c-popular__search>form {
    width: 300px;
}


.c-card {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.c-card__item {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(30% - 20px);
    margin: 0 10px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.171);
    height: 100%;
}

.c-card__img {
    width: 100%;
    height: 300px;
}

.c-card__img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.c-card__content {
    margin: 20px 30px;
}

.c-card__title {
    font-size: 16px;
    font-weight: bold;
}

.c-card__text {
    margin: 15px 0;
}

.c-card__area {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.c-card__area>span:last-child {
    background-color: #E4E4E4;
    padding: 5px;
}

.c-card__junre {
    display: flex;
    align-items: center;
}

.c-card__junre-menu {
    display: flex;
    align-items: center;
}

.c-card__junre-menu>span {

    background-color: #E4E4E4;
    padding: 5px;
}



.c-new {
    position: relative;
}

.c-new::after {
    content: '';
    background-color: rgba(4, 149, 28, 0.1);
    height: 300px;
    width: 80vw;
    position: absolute;
    bottom: -50px;
    right: -130px;
    z-index: -1;
}

.c-new__head {
    display: flex;
    justify-content: space-between;
}

.c-new__title>h2 {
    font-size: 20px;
    color: #AE042C;
}

.l-footer {
    margin-top: 100px;
    border-top: solid 1px rgb(199, 199, 199);
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.l-footer__logo {
    width: 300px;
}

.l-footer__logo>a {
    width: 100%;
}

.l-footer__logo>a>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.l-footer__copyright {
    font-size: 14px;
}

.l-footer__sns {
    display: flex;
}

.l-footer__sns>a {
    width: 60px;
    height: 60px;
}

.l-footer__sns>a>img {
    width: 100%;
    height: 100%;
}

@media (max-width: 1000px) {
    .l-container {
        margin: 0 17px;
    }


    .l-header {
        flex-direction: column;
        justify-content: space-around;
    }

    .l-header__head {
        width: 300px;
        padding: 0 50px;
    }

    .l-header__menu {
        margin: 0 17px;
    }

    .l-header__menu>a {
        margin: 0 17px;
    }


    .c-main-view__text {
        font-size: 30px;
    }

    .c-main-view__text {
        display: flex;
        flex-direction: column;
    }

    .c-main-view__text>span {

        font-size: 30px;
    }

    .c-popular__head {
        display: flex;
        flex-direction: column;
    }

    .c-popular__search {
        margin-top: 50px;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .c-popular__search>form {
        width: 50%;
    }


    .c-card {
        flex-direction: column;
    }

    .c-card__item {
        width: 100%;
        margin: 10px;
        border-radius: 20px;
        overflow: hidden;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.171);
    }

    .c-popular::after {
        height: 80%;
        left: -17px;
    }

    .c-new::after {
        height: 80%;
        right: -17px;
    }

    .l-footer {
        flex-direction: column;
    }
}