/*
  Template: blankslate
  ThemeName: practice3
*/
h1,h2,h3,h4,h5,h6 {
  font-weight: bold;
}
.l-header {
  nav {
    padding: 0;

    div {
      background-color: #fd9d0d;
      height: 100%;
      padding: 10px 0;
    }
  }

  &__btn {
    background-color: white;
    height: 40px;
    width: 40px;
    position: relative;

    span {
      display: block;
      width: 30px;
      height: 2px;
      position: absolute;
      background-color: #fd9d0d;
      left: 50%;
      translate: -50%;
    }

    span:nth-child(1) {
      top: 30%;
    }

    span:nth-child(2) {
      top: 50%;
    }

    span:nth-child(3) {
      top: 70%;
    }
  }

  &__logo {
    width: 300px;
    margin-left: 20px;
    padding: 0;

    @media (max-width: 950px) {
      width: 150px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__tiket {
    color: #fd9d0d;
    background-color: white;
  }
}

.l-section {
  margin-top: 60px;
}

.c-main-view {
  position: relative;

  &__content {
    position: absolute;
    top: 48%;

    @media (max-width: 1000px) {
      top: 50%;
    }

    left: 50%;
    translate: -50% -50%;
    z-index: 1000;
    color: white;

    h2 {
      font-size: 5rem;

      @media (max-width: 1000px) {
        font-size: 3rem;
      }
    }

    div {
      font-size: 2.5rem;

      @media (max-width: 1000px) {
        font-size: 1rem;
      }
    }
  }

  &__img {
    max-height: 600px;
    height: 60vh;
    width: 100%;
    overflow: hidden;

    .carousel-inner {
      height: 100%;
    }

    .carousel-item {
      height: 100%;
      width: 100%;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.288);
    }
  }
}

.c-event {
  &__title {
    h2 {
      color: #fd9d0d;
      font-weight: bold;
    }
  }

  &__category {
    background-color: #fd9d0d;
    color: white;
    border-radius: 5px;
    padding: 3px 5px;
  }

  &__btn {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.c-booth {
  &__title {
    h2 {
      color: #fd9d0d;
    }

    translate: 0 130%;

    @media (max-width: 1000px) {
      translate: 0 0%;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;

    @media (max-width: 1000px) {
      flex-direction: column-reverse;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 2em;
    @media (max-width: 1000px) {
      margin-top: 0%;
      padding-right: 0;
    }
  }

  &__img {
    width: 50%;
    height: 100%;

    @media (max-width: 1000px) {
      width: 100%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.c-tiket {
  height: 400px;
  position: relative;

  &__title {
    h2 {
      color: white;
      font-size: 3rem;
    }

    margin-bottom: 40px;
  }

  &__content {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.219);
  }

  &__img {
    height: 100%;
    width: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.l-footer {
  height: 300px;
  background-color: #fd9d0d;
}

.btn.btn-xlg {
  padding: 20px 4em;
  white-space: nowrap;
  @media(max-width: 768px) {
    padding: 14px 1.6em;
  }
}
.l-header {
  position: relative;
}

@media(min-width: 768px) {

  
  .l-header__tiket.btn {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
    align-items: center;
    border: none;
    font-weight: bold;
    border-radius: 0;
    padding-left: 2em;
    padding-right: 2em;
  }
}
@media(max-width: 768px) {
  .l-header__btn.navbar-toggler {
    position: absolute;
    top: 0;
    height: 100%;
    right: 0;
    width: 55px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0;
  }
  .l-header__tiket.btn {
    font-size: 12px;
    margin-right: 64px;
  }
}
a.card {
  display: block;
  text-decoration: none;
  transition: all ease .2s;
  color: inherit;
  &:hover{ 
    opacity: 0.7;
  }
}
img {
  max-width: 100%;
  height: auto;
}
.nav-links {
  display: flex;
  justify-content: space-between;
  a {
    display: block;
    background: #e8e8e8;
    text-decoration: none;
    padding: 12px 24px;
    color: #222;
  }
}